* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    margin: 40px auto;
}

body {
    background: #444;
    background: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.card {
    list-style: none;
    text-align: center;
    color: #a96917;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
}

.card-name {
    text-shadow: 2px 2px 6px 6px #000;
}

.card img {
    cursor: pointer;
    width: 40%;
    filter: grayscale(.5);
    transition: all ease .2s;
}

.card img:hover{
    filter: grayscale(0);
    transform: scale(1.5);
}